/* ====== ESTILO GENERAL ====== */
body {
  background-color: #f8f9fa;
}

/* ====== TÍTULO ====== */
h1 {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 30px;
  color: #212529;
}

/* ====== BOTÓN PERSONALIZADO ====== */
#btn-generar {
  padding: 14px 35px; /* botón más grande */
  font-size: 24px; /* texto más grande */
  font-weight: bold;
  cursor: pointer;
  background-color: #b551ce; /* MISMO VERDE del resultado */
  color: white;
  border: none;
  border-radius: 12px;
  transition: 0.3s;
}

#btn-generar:hover {
  background-color: #8651e9; /* mismo hover del cuadro */
}
.footer-morado {
  background-color: #7651a7; /* Morado igual a tu botón */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none;
  box-shadow: none;
}
